---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <!--
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              -->
              <div class="meta">Date： <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span> Author： <a target="_blank" href="{{site.url}}">{{ site.author }}</a></div>
              <br />
            </header>
            <article class="post-content">
              {{ content }}
            </article>
          <hr>
      </div>
      <!--comment-->
      <!--code for 网易云跟帖
      <div class="panel docs-content">
        <article class="post-content">
          <div class="wrapper">
            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
            <script>
            var cloudTieConfig = {
            url: document.location.href, 
            sourceId: "",
            productKey: "b6d55f09637f497389b80bafc11aada1",
            target: "cloud-tie-wrapper"
            };
            var yunManualLoad = true;
            Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
            </script>
          </div>
        </article>
      </div> -->
      <!--Gitment-->
      {% comment %} <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
      <script>
        var gitment = new Gitment({
          id: window.location.pathname, 
          owner: 'misttree',
          repo: 'misttree.github.io',
          oauth: {
          client_id: 'bd9d326757f4c9549a55',
          client_secret: '240206704d67d53020aa3d19f54cca14e2485c66',
          },
        })
        gitment.render('container')
      </script> {% endcomment %}
      {% comment %} <div id="comments"></div> {% endcomment %}
      <script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
      <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
      <script>
          new Valine({
              el: '#comments',
              app_id: 'swJa6eVWfpSTTq87qflGJQuQ-gzGzoHsz',
              app_key: 'cMBMv2IIU4dO1hNvUUSAxmLy',
              placeholder: '请在此处填写你的评论内容',
              visitor: true
          });
      </script>
    </div>
  </div>
</div>

